.place__image {
    width: 46.75%;
    max-height: 460px;
    margin: 0;
    padding-top: 44px;
    
}

@media screen and (max-width: 1279px) {
    .place__image {
        width: 47.41%;
        max-height: 440px;
        padding-top: 40px;
    }
   }
@media screen and (max-width: 1023px) {
    .place__image {
        width: 47.22%;
        max-height: 340px;
        padding-top: 40px;
    } 
   }
@media screen and (max-width: 767px) {
    .place__image {
        width: 100%;
        object-fit: cover;
        max-height: 320px;
        padding-top: 32px;
    } 
   }