@import url(./__title/lead__title.css);
@import url(./__subtitle/lead__subtitle.css);
@import url(./__image/lead__image.css);
@import url(./__caption/lead__caption.css);

.lead {
    width: 76.875%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding-bottom: 96px;
}

@media screen and (max-width: 1279px) {
    .lead {
        width: 90.625%; 
    }
   }

@media screen and (max-width: 1023px) {
    .lead {
        width: 100%;
        padding-bottom: 94px;
    }
   }

@media screen and (max-width: 767px) {
    .lead {
        width: 100%;
        padding-bottom: 64px;
    }
   }