@import url(./__logo/header__logo.css);
@import url(./__list/header__list.css);
@import url(./__lang-link/header__lang-link.css);
@import url(./__lang-link/_line/header__lang-link_line_unselected.css);

.header {
    width: 92.5%;
    padding-top: 28px;
    padding-bottom: 65px;
    display: flex;
    justify-content: space-between;

}

@media screen and (max-width: 1279px) {
    .header {
        width: 90.625%;
        padding-bottom: 57px;
    } 
   }
   @media screen and (max-width: 1023px) {
    .header {
        width: 93.75%;
        padding-bottom: 57px;
    } 
   }
   @media screen and (max-width: 767px) {
    .header {
        width: 90%;
        padding-top: 16px;
        padding-bottom: 53px;

    } 
   }