.lead__image {
    width: 984px;
    height: 615px;
    background: url(../../../images/lead__background.jpg) no-repeat;
    border: 1px solid red;
    margin: 0;
    padding: 0;
    position: relative;
}