@import url(./__title/intro__title.css);
@import url(./__text/intro__text.css);
@import url(./__list/intro__list.css);
@import url(./__list-element/intro__list-element.css);

.intro {
    width: 83.1%;
    padding-bottom: 94px;
    display: flex;
    flex-direction: column;
    color: white;
}