.lead__subtitle {
    width: 640px;
    height: 72px;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    padding-top: 32px;
    padding-bottom: 64px;
    margin: 0;
    border: 1px solid red;
}