.lead__subtitle {
    width: 65.04%;
    font-size: 30px;
    line-height: 120%;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    padding-top: 26px;
    padding-bottom: 65px;
    margin: 0;
}