.cover__background {
    width: 100%;
    min-height: 740px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-image: url(../../../images/cover__background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.cover__background::after {
    content: '';
    display: block;
    position: absolute;
    background: #2A2C2F;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0.3;
    transition: ease-in-out 0.2s;
    z-index: 0;
}


.cover__background:hover::after {
    opacity: 0.8;
}


@media screen and (max-width: 1279px) {
    .cover__background {
        min-height: 640px;
    }
   }

@media screen and (max-width: 1023px) {
    .cover__background {
        min-height: 480px;
    }
   }

   @media screen and (max-width: 767px) {
    .cover__background {
        min-height: 200px;
    }
   }