.cover__title {
    width: 560px;
    height: 152px;
    font-size: 72px;
    line-height: 76px;
    font-weight: bold;
    font-family: 'Inter Black';
    text-align: center;
    margin: 0;
    padding: 0;
}