.footer__list {
    width: 100%;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 19px;
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 767px) {
    .footer__list {
        display: flex;
        flex-direction: column;
        gap: 32 px;
    }
}