@import url(./__grid/footer__grid.css);
@import url(./__copyright/footer__copyright.css);
@import url(./__link/footer__link.css);

.footer {
    width: 92.5%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0;
    padding-top: 92px;
    padding-bottom: 24px;
}