.place__url-heading {
    color: #AAAAAA;
    font-size: 12px;
    line-height: 12px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.2em;
    margin: 0;
    padding-bottom: 8px;
}